/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utils */

.container {
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.container > * {
    flex-basis: 25%;
}

a {
    text-decoration: none;
}

.btn-rounded {
    color: black;
    background-color: #fff;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px 15px;
    
}

/* Generics */

body {
    font-family: 'Roboto';
}

/* Header */


header {
    background-color: #3161e0;
    padding: 10px;
}

.logo {
    width: auto;
    height: 100%;
    padding: 15px;
}

nav {
    flex-grow: 1;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    
}

.link a {
    color: white;
}

.btn-login {
    text-align: right;
}

.login.btn-rounded {
    font-size: 14px;
}

/* Hero */
.hero {
    height: 500px;
    background-image: url(img/jumbo.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 60px;
    color: white;
}

.hero .content {
    flex-basis: 50%;
    text-align: center;
    font-size: 1.4rem;
}

.content p {
    margin-top: 30px;
}

.container-button {
    margin-top: 20px;
}

.container-button .btn-rounded {
    margin-right: 20px;
}


.btn-rounded.black {
    background-color: black;
    border: 1px solid black;
    color: white;    
}

.fa-solid.fa-down-long {
    padding: 10px;
    vertical-align: middle;
}





